<div th:fragment="navbar">
<nav class="navbar-one">
    <label ><img th:src="@{images/logo.jpg}" src="../static/images/logo.jpg" alt="logo-billede" class="responsive"> </label>
    <ul class="nav-ul">
        <li><a class="nav-link" th:href="@{signup}" href="signup.html">Opret</a></li>
        <li><a class="nav-link" th:href="@{login}" href="login.html">Login</a></li>
    </ul>
</nav>
</div>

<div th:fragment="navbartwo">
    <nav class="navbar-one">
        <label ><img th:src="@{images/logo.jpg}" src="../static/images/logo.jpg" alt="logo-billede" class="responsive"> </label>
        <ul class="nav-ul">
            <li class="nav-li"><a class="nav-link" th:href="@{projects}" href="#">Projekt</a></li>
            <li><a class="nav-link" th:href="@{login}" href="login.html">Skift Bruger</a></li>
        </ul>
    </nav>
</div>

<div th:fragment="navbarthree">
    <nav class="navbar-one">
        <label ><img th:src="@{images/logo.jpg}" src="../static/images/logo.jpg" alt="logo-billede" class="responsive"> </label>
        <ul class="nav-ul">
            <li class="nav-li"><a class="nav-link" th:href="@{projects}" href="#">Projekt</a></li>
            <li><a class="nav-link" th:href="@{signup}" href="signup.html">Bruger</a></li>
            <li><a class="nav-link" th:href="@{login}" href="login.html">Skift Bruger</a></li>
        </ul>
    </nav>
</div>