<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Frontpage</title>
    <link rel="stylesheet" th:href="@{css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="appfrontpage-main">
        <h1>Active Projects</h1>
        <div class="appfrontpage-project-matrix">
            <div class="appfrontpage-project">
                <h2>Project #1</h2>
            </div>
            <div class="appfrontpage-project">
                <h2>Project #2</h2>
            </div>
            <div class="appfrontpage-project">
                <h2>Project #3</h2>
            </div>
            <div class="appfrontpage-project">
                <h2>Project #4</h2>
            </div>
            <div class="appfrontpage-project">
                <h2>Project #5</h2>
            </div>
            <div class="appfrontpage-project">
                <h2>Project #6</h2>
            </div>
        </div>
        
        <h1>Inactive Projects</h1>
        <div class="appfrontpage-project-matrix"></div>
        
    </div>
</body>
</html>