<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App Frontpage</title>
    <link rel="stylesheet" th:href="@{css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="appfrontpage-main">
        <h1>Active Projects</h1>
        <div class="appfrontpage-project-matrix">
            <div class="appfrontpage-project" th:each="project : ${projects}">
                <h3 th:text="${project.}"></h3>
                <h2>Develop CRM system for sales team</h2>
                <p>Build a sales CRM software that helps manage customer relationships and sales pipelines.</p>
                <div class="appfrontpage-project-deadline"><p>Deadline: 2023-05-10</p></div>
                <button>Go to project</button>
            </div>
            <div class="appfrontpage-project">
                <h3>Steffen Grøn Andersen</h3>
                <h2>Develop CRM system for sales team</h2>
                <p>Move existing databases to the cloud for better scalability and accessibility.</p>
                <div class="appfrontpage-project-deadline"><p>Deadline: 2023-10-10</p></div>
                <button>Go to project</button>
            </div>
            <div class="appfrontpage-project">
                <h3>Steffen Grøn Andersen</h3>
                <h2>Implement cybersecurity measures for client portal</h2>
                <p>Implement security measures to protect client data in online portals.</p>
                <div class="appfrontpage-project-deadline"><p>Deadline: 2023-12-20</p></div>
                <button>Go to project</button>
            </div>
            <div class="appfrontpage-project">
                <h3>Steffen Grøn Andersen</h3>
                <h2>Enhance website user experience with responsive design</h2>
                <p>Optimize website for mobile devices and improve user experience.</p>
                <div class="appfrontpage-project-deadline"><p>Deadline: 2023-05-10</p></div>
                <button>Go to project</button>
            </div>
            <div class="appfrontpage-project">
                <h3>Steffen Grøn Andersen</h3>
                <h2>Build custom e-commerce platform with inventory management</h2>
                <p>Develop a custom platform for online sales, order processing, and inventory management.</p>
                <div class="appfrontpage-project-deadline"><p>Deadline: 2023-05-10</p></div>
                <button>Go to project</button>
            </div>

            <div class="appfrontpage-project">
                <h3>Steffen Grøn Andersen</h3>
                <h2>Build custom e-commerce platform with inventory management</h2>
                <p>Develop a custom platform for online sales, order processing, and inventory management.</p>
                <div class="appfrontpage-project-deadline"><p>Deadline: 2023-05-10</p></div>
                <button>Go to project</button>
            </div>
            
            <div class="appfrontpage-create-project">
                <h2>Create New Project</h2>
                <p>New ideas spawn new projects.</p>
                
                <button>Create Project</button>
            </div>
        </div>
        
        <h1>Inactive Projects</h1>
        <div class="appfrontpage-project-matrix"></div>
        
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>