<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BacklogCreateTask</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body th:if="${session.currentuser}">
  <div id="backlog-background2">
    <div class="generalcontainer">
      <div class="overlaytitle">
        <h1>Create technical task</h1>
      </div>
      <div class="table-container">
        <div class="columnitems">
          <div>

            <form action="/createtask" method="post">
              <p>Write Task Name</p>
              <input id="task-name-field" name="technicaltask_name" type="text" placeholder="TEC001" required>
              <p>Write Task Description</p>
              <input id="task-description-field" name="technicaltask_description" type="text" placeholder="Create HTML Frontpage" required></input>
              <p>Assign storypoints</p>
              <input id="task-point-field" name="technicaltask_points" type="number" placeholder="13" required></input>
              <p>Assign sprint (optional)</p>
              <input id="task-sprint-field" name="sprint_id" type="number" th:value="${parentuserstory.getSprint_id()}" required></input>
              <div class="generalbuttons">
                <input id="project_id_field" name="userstory_id" type="hidden" th:value="${parentuserstory.getId()}"></input>
                <input id="task_status_field" name="technicaltask_status" type="hidden" th:value="${parentuserstory.getStatus().toString()}"></input>
              </div>
              <br/>
              <br/>
              <input class="table-link" type="submit" value="Add Task"></input>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>