<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Userstory</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body th:if="${session.currentuser}">
<div id="backlog-background2">
    <div class="generalcontainer">
        <div class="overlaytitle">
            <h1>Create user story</h1>
        </div>
        <div class="table-container">
            <div class="columnitems">
                <div>

                    <form action="/createuserstory" method="post">
                        <p>Write userstory name</p>
                        <input id="userstory-name-field" name="userstory_name" type="text" placeholder="US001" required>
                        <p>Write userstory Description</p>
                        <input id="userstory-description-field" name="userstory_description" type="text" placeholder="As an administrator, I want to edit user information, so that I can administrate users" required></input>
                        <p>Assign Userstory Points</p>
                        <input id="userstory-points-field" name="userstory_points" type="number" placeholder="5" required></input>
                        <p>Assign sprint (Defaults to 1)</p>
                        <input id="task-sprint-field" name="sprint_id" type="number" placeholder="1" th:value="${1}" required></input>
                        <div class="generalbuttons">
                            <input id="project_id_field" name="project_id" type="hidden" th:value="${session.currentproject.getProjectID()}"></input>
                        </div>
                        <br/>
                        <br/>
                        <input class="table-link" type="submit" value="Create user story"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>