<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BacklogCreateTask</title>
  <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body th:if="${session.currentuser}">
<div id="backlog-background2">


  <div class="generalcontainer">
    <div class="overlaytitle2">
      <h1>Update task <span th:text="${technicaltask.name}"></span></h1>

    </div>
    <div class="table-container">
      <div class="columnitems">
        <div>

          <form action="/updatetask" method="post">
            <input id="technicaltask_id" name="technicaltask_id" type="hidden" th:value="${technicaltask.getId()}" required></input>
            <p>Write Task Name</p>
            <input id="task-name-field" name="technicaltask_name" type="text" th:value="${technicaltask.getName()}" required>
            <p>Write Task Description</p>
            <input id="task-description-field" name="technicaltask_description" type="text" th:value="${technicaltask.getDescription()}" required></input>
            <p>Reassign Points</p>
            <input id="task-points-field" name="technicaltask_points" type="number" th:value="${technicaltask.getPoints()}" required></input>
            <p>Reassign sprint</p>
            <input id="task-sprint-field" name="sprint_id" type="number" th:value="${technicaltask.getSprint_id()}" required></input>
            <div class="generalbuttons">
              <input id="userstory_id" name="userstory_id" type="hidden" th:value="${technicaltask.getUserstory_id()}"></input>
              <input id="technicaltask_released" name="technicaltask_released" type="hidden" th:value="${technicaltask.isReleased()}"></input>
              <input id="technicaltask_points" name="technicaltask_released" type="hidden" th:value="${technicaltask.isReleased()}"></input>
              <input id="technicaltask_status" name="technicaltask_status" type="hidden" th:value="${technicaltask.getStatus().toString()}"></input>
            </div>
            <br/>
            <br/>
            <input class="table-link" type="submit" value="Update Task"></input>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>