<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Project</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<!-- NEW CODE -->
    <div class="signup-login-background-image">
        <div class="signup-login-flex-container">
            <div class="signup-login-flex-item">
                <h1>Insert logo</h1>
            </div>
    
            <div class="signup-login-flex-item">
                <h1>Create Workspace</h1>

                <form action="postcreateproject" method="post">
                    <label for="project_name">Project name</label>
                    <p><input id="project_name" name="projectname" type="text"></p>

                    <label for="project_description">Project Description</label>
                    <p><input id="project_description" name="projectdescription" type="text"></p>

                    <label for="project_owner">Project Owner</label>
                    <p><input id="project_owner" name="projectowner" type="text"></p>

                    <label for="deadline">Deadline</label>
                    <p><input id="deadline" type="date" name="deadline" value="2000-01-01"></p>

                    <p><input type="hidden" name="workspaceid" th:value="${session.currentuser.getWorkspace_id()}"></p>
                    </br>
                    <p><input class="signup-login-button" value="opret projekt" type="submit"> </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>