<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Project</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body th:if="${session.currentuser}">
<div id="backlog-background2">
    <div class="generalcontainer">
        <div class="overlaytitle">
            <h1>Create project</h1>
        </div>
        <div class="table-container">
            <div class="columnitems">
                <div>
                    <form action="postcreateproject" method="post">
                        <label for="project_name">Project name</label>
                        <p><input id="project_name" name="projectname" type="text" required></p>

                        <label for="project_description">Project Description</label>
                        <p><input id="project_description" name="projectdescription" type="text" required></p>

                        <label for="project_owner">Project Owner</label>
                        <p><input id="project_owner" name="projectowner" type="text" required></p>

                        <label for="deadline">Deadline</label>
                        <p><input id="deadline" type="date" name="deadline" value="2000-01-01" required></p>

                        <p><input type="hidden" name="workspaceid" th:value="${session.currentuser.getWorkspace_id()}"></p>
                        </br>
                        <p><input class="signup-login-button" value="Create Project" type="submit"> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>