<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="createproject" method="post">
    <label for="project_name">Project name</label>
    <p><input id="project_name" name="projectname" type="text"></p>
    <label for="deadline">Deadline</label>
    <p><input type="date" name="Deadline" value="2000-01-01"></p>
    <label for="project_owner">Project Owner</label>
    <p><input id="project_owner" name="projectowner" type="text"</p>

    <p><input value="opret projekt" type="submit"> </p>
</form>
</body>
</html>