<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epiccreate</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body th:if="${session.currentuser}">
<div id="general-table-background">
  <div class="generalcontainer">
    <div class="overlaytitle">
      <h1>Create epic</h1>

    </div>


    <div class="table-container">

      <div class="templatecreateitem">
        <div>
          <form action="createepic" method="post">

            <p>Write title</p>
            <input id="epic-name-field" name="epicName" type="text" required></input>
            <p>Write description</p>
            <input id="epic-description-field" name="epicDescription" type="text" required></input>

            <div class="generalbuttons">
              <input id="project_id-field" name="projectId" type="hidden" th:value="${session.currentproject.getProjectID()}"></input>
            </div>
            <input class="table-link" type="submit" value="Create epic"></input>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
</html>