<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div th:replace="fragments/navbar :: navbarthree"></div>

    <div class="table-container">
        <table style="  border: 1px solid black; border-collapse: collapse;">
            <thead>
            <th>Epic: </th>
            <th>Description: </th>
            <th>Update</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr th:each="epic : ${epics}">
                <td th:text="${epic.epic_name}"></td>
                <td th:text="${epic.epic_description}"></td>
                <td><a th:href="@{'/update/' + ${epic.epic_id}}">Update</a></td>
                <td><a th:href="@{'/delete/' + ${epic.epic_id}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>