<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div th:replace="fragments/navbar :: navbarthree"></div>

    <div id="table-background">
        <div class="epicscontainer">
            <div class="epicstitle">
                <h1>Epics</h1>

                <a class="table-link" th:href="@{/showcreateepic}" href="/createepic.html"><H1>+</H1></a>
            </div>


            <div id="table-container">

                <div class="epicsitem" th:each="epic : ${epics}">
                    <div>
                        <h2 th:text="${epic.epic_name}">EP001</h2>
                        <p th:text="${epic.epic_description}">Launch cloud service in Denmark</p>
                        <div class="epicbuttons">
                            <input id="project_id-field" name="project-id" type="hidden" th:value="${epic.project_id}">
                            <a class="table-link" th:href="@{'/updateepic/' + ${epic.epic_id}}" href="/updateepic">Update</a>
                            <a class="table-link" th:href="@{'/deleteepic/' + ${epic.epic_id} + '/' + ${epic.project_id}}" href="/deleteepic">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>