<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body th:if="${session.currentuser}">
    <div id="general-table-background">


        <div class="generalcontainer">
            <div class="overlaytitle">
                <h1>Update epic</h1>
            </div>
            <div class="table-container">
                <div class="templatecreateitem">
                    <div>
                        <form action="/updateepic" method="post">
                            <p>Write title</p>
                            <input id="epic-name-field" name="epic_name" type="text" th:value="${epic.epic_name}" required></input>
                            <p>Write description</p>
                            <input id="epic-description-field" name="epic_description" type="text" th:value="${epic.epic_description}" required></input>
                            <div class="generalbuttons">
                                <input id="project_id-field" name="project_id" type="hidden" th:value="${session.currentproject.getProjectID()}"></input>
                                <input id="epic_id-field" name="epic_id" type="hidden" th:value="${epic.epic_id}"></input>
                            </div>
                            <input class="table-link" type="submit" value="Update epic"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>