<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div>
<div class="rowfrontpage">
    <div class="column">
        <div class="divtextfrontpage">
        <h2 class="header-frontpage-text">Sprintwave</h2>
        <p class="paragraph-frontpage-text">Agile project management:
            SprintWave enables agile teams to manage their projects, sprints, and tasks using popular agile methodologies such as Scrum.</p>
    </div>
    </div>
    <div class="column">
        <img th:src="@{images/sprintwavewhitelogo.png}" src="../static/images/sprintwavewhitelogo.png" alt="logo">
    </div>
</div>
</div>
<div class="rowpicture">
    <div class="column2">
        <div class="picture-container">
            <img th:src="@{images/sprintwavefrontpagepicone.png}" src="../static/images/sprintwavefrontpagepicone.png" alt="earle" class="responsivepicture">
            <div class="textoverpicture">
                <h2>Project Management:</h2>
                <p> Weaving the Threads of Strategy, Collaboration, and Results.</p>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="picture-container">
           <img th:src="@{images/sprintwavefrontpagepicfour.png}" src="../static/images/sprintwavefrontpagepicfour.png" alt="sprintpostit" class="responsivepicture">
            <div class="textoverpicture">
                <h2>Scrum:</h2>
                <p> Igniting Collaborative Fireworks for Agile Achievement.</p>
            </div>
    </div>
    </div>
    <div class="column2">
        <div class="picture-container">
           <img th:src="@{images/sprintwavefrontpagepictwo.png}" src="../static/images/sprintwavefrontpagepictwo.png" alt="sprintwave" class="responsivepicture">
            <div class="textoverpicture">
                <h2>Scrum Point System:</h2>
                <p> The Currency of Agile Progress and Team Empowerment.</p>
            </div>
    </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>