<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div>
<div class="rowfrontpage">
    <div class="column">
        <h2>Sprintwave</h2>
        <p>Agile project management: SprintWave enables agile teams to manage their projects, sprints, and tasks using popular agile methodologies such as Scrum.</p>
    </div>
    <div class="column">
        <img th:src="@{images/sprintwavewhitelogo.png}" src="../static/images/sprintwavewhitelogo.png" alt="logo">
    </div>
</div>
</div>
<div class="rowpicture">
    <div class="column2">
        <div class="picture-container">
            <img th:src="@{images/sprintwave2.jpg}" src="../static/images/sprintwave2.jpg" alt="earle" class="responsivepicture">
            <div class="textoverpicture">
                <h2>Title</h2>
                <p>description</p>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="picture-container">
           <img th:src="@{images/sprintwave1.jpg}" src="../static/images/sprintwave1.jpg" alt="sprintpostit" class="responsivepicture">
            <div class="textoverpicture">
                <h2>Title</h2>
                <p>description</p>
            </div>
    </div>
    </div>
    <div class="column2">
        <div class="picture-container">
           <img th:src="@{images/sprintwave4.jpg}" src="../static/images/sprintwave4.jpg" alt="sprintwave" class="responsivepicture">
            <div class="textoverpicture">
                <h2>Title</h2>
                <p>description</p>
            </div>
    </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>