<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="signup-login-background-image">
    
        <div class="signup-login-flex-container">
    
            <div class="signup-login-flex-item">
                <h1>Login or create new account</h1>
                <div class="login-logo">
                    <img th:src="@{images/sprintwavewhitelogo.png}" src="../static/images/sprintwavewhitelogo.png" alt="logo" height="125px">
                </div>
            </div>
            
            <div class="signup-login-flex-item">
                <h1>Login</h1>
                
                <form action="loginuser" method="post">
                    <label for="email_field">Email:</label>
                    <p><input id="email_field" name="email" type="text"></p>
    
                    <label for="password_field">Password:</label>
                    <p><input id="password_field" name="password" type="password"></p>
    
                    <button class="signup-login-button" type="submit">Login</button>
                    <!-- <p><input value="Opret Admin" type="submit"></p> -->
                </form>
            </div>
        </div>
    </div>
</body>
</html>