<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div class="backgroundimg">
    <div class="sidebyside">
        <div class="rightloginitem">

        </div>
        <div class="leftloginitem">
            <form action="loginuser" method="post">
                <label for="email_field">Email:</label>
                <p><input id="email_field" name="email" type="text"></p>

                <label for="password_field">Password:</label>
                <p><input id="password_field" name="password" type="text"></p>

                <p><input value="Opret Admin" type="submit"></p>

            </form>

        </div>
    </div>
</div>
</body>
</html>