<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Project</title>
  <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body th:if="${session.currentuser}">

  <div id="general-table-background">
    <div class="generalcontainer">
      <div class="overlaytitle">
        <h1>Update project</h1>
      </div>
      <div class="table-container">
        <div class="templatecreateitem">
          <div>
            <form action="/updateproject" method="post">
              <label for="projectname">New Project name</label>
              <p><input id="projectname" name="projectname" type="text" th:value="${project.projectName}" required></p>
  
              <label for="projectdescription">New Project Description</label>
              <p><input id="projectdescription" name="projectdescription" type="text" th:value="${project.projectDescription}" required></p>
  
              <label for="projectowner">New Project Owner</label>
              <p><input id="projectowner" name="projectowner" type="text" th:value="${project.projectOwner}" required></p>
  
              <label for="deadline">New Deadline</label>
              <p><input id="deadline" type="date" name="projectdeadline" th:value="${project.deadline}" required></p>
  
              <p>
                <label><input type="radio" name="projectstatus" value="true" th:checked="${project.projectStatus}"> Active</label>
                <label><input type="radio" name="projectstatus" value="false" th:checked="${!project.projectStatus}"> Inactive</label>
              </p>
  
  
              <!--<p><input type="hidden" name="projectstatus"  th:value="${session.currentproject.isProjectStatus()}"></p>-->
              <p><input type="hidden" name="project_id" th:value="${session.currentproject.getProjectID()}"></p>
              <p><input type="hidden" name="workspaceID" th:value="${session.currentuser.getWorkspace_id()}"></p>
              </br>
              <input class="signup-login-button" type="submit" value="Update project">
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>