<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Overview</title>
  <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div th:replace="fragments/navbar :: navbarthree"></div>

<div class="flex-container">
  <div><a class="navtwo-link" href="#">Overview</a></div>
  <div><a class="navtwo-link" href="#">Epics</a></div>
  <div><a class="navtwo-link" href="#">Requirements</a></div>
  <div><a class="navtwo-link" href="#">Backlog</a></div>
  <div><a class="navtwo-link" href="#">Sprints</a></div>
</div>

<div class="overviewcontainer">
  <div class="boxone">
    <h3>Epics</h3>
    <p>Ting ting</p>
    <a th:href="@{'/epics/' + ${session.currentproject.getProjectID()}}" class="btn">Go to</a>
  </div>
  <div class="boxtwo">
    <h3>Requirements</h3>
    <p>Ting ting</p>
    <a href="#" class="btn">Go to</a>
  </div>
</div>
<div class="overviewcontainer">
  <div class="boxthree">
    <h3>Backlog</h3>
    <p>Ting ting</p>
    <a th:href="@{'/backlog/' + ${session.currentproject.getProjectID()}}" class="btn">Go to</a>
  </div>
  <div class="boxfour">
    <h3>Sprints</h3>
    <p>Ting ting</p>
    <a href="#" class="btn">Go to</a>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>