<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requirements</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body th:if="${session.currentuser}">
<div th:replace="fragments/navbar :: navbarthree"></div>

<div th:replace="fragments/navbar :: secondnavbar"></div>

<div id="requirements-background">
    <div class="epicscontainer">
        
        <div class="overlaytitle">
            <h1>Requirements</h1>

            <a class="table-link" th:href="@{/showcreaterequirement}" href="/requirementcreate"><H2>New requirement</H2></a>
        </div>


        <div class="table-container">

            <h3 class="funcNonFunctext">Functional requirements</h3>
            <div class="columnitems" th:each="requirement : ${requirements}" th:block th:if="${requirement.funcNonFunc}">
                <div>
                    <h2 th:text="${requirement.requirement_name}">EP001</h2>
                    <p th:text="${requirement.requirement_description}">Launch cloud service in Denmark</p>
                    <p th:text="${requirement.requirement_actor}">Launch cloud service in Denmark</p>
                    <input id="project_id-field" name="project_id" type="hidden" th:value="${requirement.project_id}">
                    <input id="requirement_id-field" name="requirement_id" type="hidden" th:value="${requirement.requirement_id}">
                    <input id="funcNonFunc-field" name="funcNonFunc" type="hidden" th:value="${requirement.funcNonFunc}">
                    <div class="epicbuttons">
                        <a class="table-link" th:href="@{'/updaterequirement/' + ${requirement.requirement_id}}" href="/requirementupdate">Update</a>
                        <a class="table-link" th:href="@{'/deleterequirement/' + ${requirement.requirement_id} + '/' + ${requirement.project_id}}" href="/deleterequirement">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-container">

            <h3 class="funcNonFunctext">Non-functional requirements</h3>
            <div class="columnitems" th:each="requirement : ${requirements}" th:unless="${requirement.funcNonFunc}">
                <div>
                    <h2 th:text="${requirement.requirement_name}">EP001</h2>
                    <p th:text="${requirement.requirement_description}">Launch cloud service in Denmark</p>
                    <p th:text="${requirement.requirement_actor}">Launch cloud service in Denmark</p>
                    <input id="project_id-field2" name="project_id" type="hidden" th:value="${requirement.project_id}">
                    <input id="requirement_id-field2" name="requirement_id" type="hidden" th:value="${requirement.requirement_id}">
                    <input id="funcNonFunc-field2" name="funcNonFunc" type="hidden" th:value="${requirement.funcNonFunc}">
                    <div class="epicbuttons">
                        <a class="table-link" th:href="@{'/updaterequirement/' + ${requirement.requirement_id}}" href="/requirementupdate">Update</a>
                        <a class="table-link" th:href="@{'/deleterequirement/' + ${requirement.requirement_id} + '/' + ${requirement.project_id}}" href="/deleterequirement">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>