<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requirements</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbarthree"></div>

<div id="table-background">
    <div class="epicscontainer">
        <div class="epicstitle">
            <h1>Requirements</h1>

            <a class="table-link" th:href="@{/showcreatereaquirement}" href="/requirementcreate.html"><H1>+</H1></a>
        </div>


        <div id="table-container">

            <div class="epicsitem" th:each="requirement : ${requirements}">
                <div>
                    <h2 th:text="${requirement.requirement_name}">EP001</h2>
                    <p th:text="${requirement.requirement_description}">Launch cloud service in Denmark</p>
                    <p th:text="${requirement.requirement_actor}">Launch cloud service in Denmark</p>
                    <input id="project_id-field" name="project_id" type="hidden" th:value="${requirement.project_id}">
                    <input id="requirement_id-field" name="requirement_id" type="hidden" th:value="${requirement.requirement_id}">
                    <div class="epicbuttons">
                        <a class="table-link" th:href="@{'/updaterequirement/' + ${requirement.requirement_id}}" href="/requirementupdate">Update</a>
                        <a class="table-link" th:href="@{'/deleterequirement/' + ${requirement.requirement_id} + '/' + ${requirement.project_id}}" href="/deleterequirement">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>