<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requirement update</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body th:if="${session.currentuser}">
<div id="requirements-background">
    <div class="epicscontainer">
        <div class="overlaytitle">
            <h1>Update requirement</h1>

        </div>


        <div class="table-container">

            <div class="epiccreateitem">
                <div>
                    <form action="/updaterequirement" method="post">
                        <p>Write title</p>
                        <input id="requirement-name-field" name="requirement_name" type="text" th:value="${requirement.requirement_name}"></input>
                        <p>Write description</p>
                        <input id="requirement-description-field" name="requirement_description" type="text" th:value="${requirement.requirement_description}"></input>
                        <p>Write actor</p>
                        <input id="requirement-actor-field" name="requirement_actor" type="text" th:value="${requirement.requirement_actor}"></input>
                        <p>Choose functional or non-functional</p>
                        <select id="funcNonFuncChoice" name="funcNonFuncChoice">
                            <option value="Functional">Functional</option>
                            <option value="Non-functional">Non-functional</option>
                        </select>
                        <div class="epicbuttons">
                            <input id="project_id-field" name="project_id" type="hidden" th:value="${session.currentproject.getProjectID()}"></input>
                            <input id="requirement_id-field" name="requirement_id" type="hidden" th:value="${requirement.requirement_id}"></input>
                        </div>
                        <br/>
                        <br/>
                        <input class="table-link" type="submit" value="Update requirement"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>