<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Workspace</title>
    <link rel="stylesheet" th:href="@{css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="signup-login-background-image">
        <div class="signup-login-flex-container">
            <div class="signup-login-flex-item">
                <h1>Login or create new account</h1>
                <img th:src="@{images/sprintwavewhitelogo.png}" src="../static/images/sprintwavewhitelogo.png" alt="logo" height="125px">

            </div>
            
            <div class="signup-login-flex-item">
                <h1>Create Workspace</h1>
                
                <form action="createaccount" method="post">
                    <label for="workspace_name">Worskpace name</label>
                    <p><input class="signup-input" id="workspace_name" name="workspacename" type="text" required></p>

                    <label for="first_name_field">First name</label>
                    <p><input class="signup-input" id="first_name_field" name="firstname" type="text" th:value="${first_name}" required></p>

                    <label for="last_name_field">Last name</label>
                    <p><input class="signup-input" id="last_name_field" name="lastname" type="text" th:value="${last_name}" required></p>

                    <label for="email_field">Email</label>
                    <p><input class="signup-input" id="email_field" name="email" type="text" th:value="${email}" required></p>

                    <label for="password_field">Password</label>
                    <p><input class="signup-input" id="password_field" name="password" type="password" th:value="${password}" required></p>
                    <br/>
                    <button class="signup-login-button" type="submit">Create Workspace</button>
                    <!-- <p><input value="Opret Admin" type="submit"></p> -->
                </form>
            </div>
        </div>
    </div>
</body>
</html>