<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sprints</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <div th:replace="fragments/navbar :: navbarthree"></div>

    <div class="sprint-board" th:each="sprint : ${sprintsinproject}">
        <div class="sprint-headline">
            <h1 th:text="${sprint.sprintName}">Hello</h1>
        </div>
        <div class="sprint-column">
            <div class="sprint-header">Sprint Backlog</div>

<!--            <div class="sprint-item" th:each="userstory : ${userstoriesinproject}">
                <h3>Points: </h3>
                <h2>As a user I want a nice style so that I can be positive</h2>
                <div class="sprint-item-content">
                    <p>Users currently don't feel attracted to the design. We need to change that! Hint: Turn blue into green.</p>
                    <div class="sprint-item-buttons">
                        <button>Left</button>
                        <button>Right</button>
                    </div>
                </div>
            </div>
            
-->
            <div class="sprint-item" th:each="userstory : ${userstoriesinproject}">
                <h3 th:text="${userstory.points}"></h3>
                <h2 th:text="${userstory.name}"></h2>
                <div class="sprint-item-content">
                    <p th:text="${userstory.description}"></p>
                    <div class="sprint-item-buttons">
                        <button>Left</button>
                        <button>Right</button>
                    </div>
                </div>
            </div>

            <div class="sprint-item" th:each="technicaltask : ${technicaltasksinproject}" th:if="(${#strings.equals(technicaltask.status, 'sprintbacklog')}) and (${technicaltask.getSprint_id()} == ${sprint.getSprintId()})">
                <h3 th:text="${technicaltask.points}"></h3>
                <h2 th:text="${technicaltask.name}"></h2>
                <div class="sprint-item-content">
                    <p th:text="${technicaltask.description}"></p>
                    <div class="sprint-item-buttons">
                        <button>Left</button>
                        <button>Right</button>
                    </div>
                </div>
            </div>
            
            
            <div class="sprint-footer">Sprint Backlog Points Sum:</div>
        </div>
    
        <div class="sprint-column">
            <div class="sprint-header">Doing</div>

            <div class="sprint-item" th:each="userstory : ${userstoriesinproject}">
                <h3 th:text="${userstory.points}"></h3>
                <h2 th:text="${userstory.name}"></h2>
                <div class="sprint-item-content">
                    <p th:text="${userstory.description}"></p>
                    <div class="sprint-item-buttons">
                        <button>Left</button>
                        <button>Right</button>
                    </div>
                </div>
            </div>

            <div class="sprint-item" th:each="technicaltask : ${technicaltasksinproject}" th:if="${#strings.equals(technicaltask.status, 'doing')}">
                <h3 th:text="${technicaltask.points}"></h3>
                <h2 th:text="${technicaltask.name}"></h2>
                <div class="sprint-item-content">
                    <p th:text="${technicaltask.description}"></p>
                    <div class="sprint-item-buttons">
                        <button>Left</button>
                        <button>Right</button>
                    </div>
                </div>
            </div>
            
            <div class="sprint-footer">Doing Points Sum:</div>
        </div>
    
        <div class="sprint-column">
            <div class="sprint-header">Test</div>

            <div class="sprint-item" th:each="userstory : ${userstoriesinproject}">
                <h3 th:text="${userstory.points}"></h3>
                <h2 th:text="${userstory.name}"></h2>
                <div class="sprint-item-content">
                    <p th:text="${userstory.description}"></p>
                    <div class="sprint-item-buttons">
                        <button>Left</button>
                        <button>Right</button>
                    </div>
                </div>
            </div>

            <div class="sprint-item" th:each="technicaltask : ${technicaltasksinproject}" th:if="${#strings.equals(technicaltask.status, 'testing')}">
                <h3 th:text="${technicaltask.points}"></h3>
                <h2 th:text="${technicaltask.name}"></h2>
                <div class="sprint-item-content">
                    <p th:text="${technicaltask.description}"></p>
                    <div class="sprint-item-buttons">
                        <button>Left</button>
                        <button>Right</button>
                    </div>
                </div>
            </div>
            
            <div class="sprint-footer">Test Points Sum:</div>
        </div>
    
        <div class="sprint-column">
            <div class="sprint-header">Done</div>

            <div class="sprint-item" th:each="userstory : ${userstoriesinproject}">
                <h3 th:text="${userstory.points}"></h3>
                <h2 th:text="${userstory.name}"></h2>
                <div class="sprint-item-content">
                    <p th:text="${userstory.description}"></p>
                    <div class="sprint-item-buttons">
                        <button>Left</button>
                        <button>Right</button>
                    </div>
                </div>
            </div>

            <div class="sprint-item" th:each="technicaltask : ${technicaltasksinproject}" th:if="${#strings.equals(technicaltask.status, 'done')}">
                <h3 th:text="${technicaltask.points}"></h3>
                <h2 th:text="${technicaltask.name}"></h2>
                <div class="sprint-item-content">
                    <p th:text="${technicaltask.description}"></p>
                    <div class="sprint-item-buttons">
                        <button>Left</button>
                        <button>Right</button>
                    </div>
                </div>
            </div>
            
            <div class="sprint-footer">Done Points Sum:</div>
        </div>
    </div>

</body>
</html>