<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sprints</title>
    <link rel="stylesheet" th:href="@{/css/cssstyles.css}" href="../static/css/cssstyles.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <div class="test-body">
        <div class="test-column">
            <div class="test-header">Header</div>
            <div class="test-item">Item 1</div>
            <div class="test-item">Item 2</div>
            <div class="test-item">Item 3</div>
            <div class="test-footer">Footer</div>
        </div>

        <div class="test-column">
            <div class="test-header">Header</div>
            <div class="test-item">Item 1</div>
            <div class="test-item">Item 2</div>
            <div class="test-footer">Footer</div>
        </div>
    
        <div class="test-column">
            <div class="test-header">Header</div>
            <div class="test-item">Item 1</div>
            <div class="test-footer">Footer</div>
        </div>
        <div class="test-column">
            <div class="test-header">Header</div>
            <div class="test-item">Item 1</div>
            <div class="test-item">Item 2</div>
            <div class="test-footer">Footer</div>
        </div>
    </div>

</body>
</html>